.commonTable :global .ant-table-thead th,
.commonTable :global .ant-table-tbody td {
  padding: 5px 10px;
  font-size: 14px;
  white-space: nowrap;
}
.commonTable :global .ant-table-body {
  overflow-x: auto !important;
}
.commonTable :global .ant-table-fixed {
  width: auto !important;
}
.commonTable :global tr.ant-table-expanded-row td > .ant-table-wrapper {
  margin: 0;
}
